$darkColor: #0B0C10;
$mainColor: #2A2D36;
$accentColor: #15161A;
$accentTextColor: #7e8187;
$hoverColor: #FE9E23;
$logoBackgroundColor: #303030;
$footerThemeColor: #292C33;
// I would add font but it's only one we use